<!DOCTYPE html>
<html lang="pt-br" xmlns="thymeleaf.org" th:replace="~{template :: layout (~{:: body})}">

<body>
    <div class="container">
        <div class="form-group">
            <h1>Crie uma tarefa</h1>
        </div>
        <div class="form-group">
                <label for="title">Título: </label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Um título para sua tarefa">
        </div>
        
            <div class="form-group">
                <label for="content">Descrição: </label>
                <textarea name="content" id="content" class="form-control" cols="10" rows="10" placeholder="O que deverá ser feito?"></textarea>
            </div>
        
        <button type="submit" onclick="sendTask()" id="button" class="btn btn-outline-success">Criar</button>
    </div>
    <script>

        let task = {
            title: document.getElementById("title").value,
            content: document.getElementById("content").value
        }

        let b = document.getElementById("button")

        b.addEventListener("click", e => {
            e.preventDefault()
            let task = {
                title: document.getElementById("title").value,
                content: document.getElementById("content").value
            }

            // if(task.title == "" || task.content == ""){
            //     return console.log("Não é permitido valores nulos");
            // }
            fetch("/tasks", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(task)
            }).then(r => {
                console.log(JSON.stringify(task))
                r.json().then(t => {
                    console.log(t)
                    location = '/tasks'
                });
            })

        })



    </script>
</body>

</html>